//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//IMPORT FONT
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	@import url(https://fonts.googleapis.com/css?family=Roboto:700,300italic,700italic,300);
	
	// * {
	// 	-webkit-font-smoothing: antialiased;
	// }

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// BASIC CONDITIONALS
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$layout-style: "Minimal"; // "Minimal" , "Photo" , "Color" 
$background-image: url(https://unsplash.imgix.net/photo-1423683249427-8ca22bd873e0?q=75&fm=jpg&s=5e57c661d0f772ce269188a6f5325708);
$interchangeable-logo: "False"; // "True", "False"
$logo-image: url(https://1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_2bhfHDfPSY1pbut);
$logo-image-width: 285px;
$logo-image-height: 71px;
$logo-image-position: "Left"; // "Left", "Center", "Right"
$primary-color: #e74c3c;  
$header-position: "Contained"; // "Full-width Header" , "Contained"
$survey-overlay-filter: "Light Filter"; // "Dark Filter" , "Light Filter"
$label-style-options: "Flat"; // "Flat" , "3D" , "Radio Buttons"
$progress-bar-style: "Minimal"; // "Minimal" , "Thick" , "Rounded"


// Primary Imports

@import "BasePartials/variableList",
		"BasePartials/wysiwygConditionals",
		"BasePartials/functions",
		"BasePartials/mixins";
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Themes
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "themes/Minimal",
		"themes/Photo",
		"themes/Color",
		"themes/NewTheme";

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Label Styles
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "labelStyles/Flat",
		"labelStyles/3D",
		"labelStyles/Radio1",
		"labelStyles/Radio2";

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// BASE STYLES
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "BasePartials/BaseStylesV4",
		//"UpdateModules/progressBar/progressBar3",
		"UpdateModules/labelStyles/radioButtons/radioButtons2",
		"UpdateModules/new-WYSIWYG-styles";

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Custom SCSS/CSS
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

