//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// MIXINS
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	//BORDER RADIUS
	@mixin border-radius($border-radius-size) {
		-webkit-border-radius: $border-radius-size;
		   -moz-border-radius: $border-radius-size;
			-ms-border-radius: $border-radius-size;
		     -o-border-radius: $border-radius-size;
				border-radius: $border-radius-size;
	}

	//BOX SHADOW
	@mixin box-shadow($x, $y, $size, $color) {
		-webkit-box-shadow: $x $y $size $color;
		   -moz-box-shadow: $x $y $size $color;
			    box-shadow: $x $y $size $color;
	}

	//LINEAR GRADIENT //
	@mixin linear-gradient($color-1, $color-2, $direction:vertical) {
			$gradient-start: top;
			$gradient-end: bottom; 

			@if $direction == horizontal {
				$gradient-start: left;
				$gradient-end: right;
			}
			
			background: $color-1;
			background: -moz-linear-gradient($gradient-start,  $color-1 0%, $color-2 100%);
			background: -webkit-gradient(linear, $gradient-start, $gradient-end, color-stop(0%,$color-1), color-stop(100%,$color-2));
			background: -webkit-linear-gradient($gradient-start,  $color-1 0%,$color-2 100%);
			background: -o-linear-gradient($gradient-end,  $color-1 0%,$color-2 100%);
			background: -ms-linear-gradient($gradient-start,  $color-1 0%,$color-2 100%);
			background: linear-gradient(to $gradient-end,  $color-1 0%,$color-2 100%);
	}

	//BREAKPOINTS 
	@mixin breakpoints($screen-size) { 
		@if $screen-size == mobile {
			@media screen and (max-width: 480px) { @content }
		} @else if $screen-size == tablet {
			@media screen and (max-width: 767px) { @content }
		} @else if $screen-size == desktop {
			@media screen and (min-width: 768px) { @content }
		}
	}